Repository toomy4/egeria, changes with the owners that CODEOWNERS names for each.
All owners: @mandy-chessell, @planetf1, @cmgrote, @popa-raluca, @lcpopa, @ruxandraRosu, @danielaotelea, @davidradl, @DimitriosMaimaris, @GuyAckermans

CODEOWNERS:

# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the ODPi Egeria project.

# Code ownership for Egeria - see https://help.github.com/articles/about-codeowners/
# Note that the LAST matching pattern will be effective so please more generic paths towards the top

# Top level

developer-resources/ @mandy-chessell @planetf1

open-metadata-conformance-suite/ @mandy-chessell

open-metadata-distribution/ @mandy-chessell @planetf1

# Implementation

open-metadata-implementation/adapters/ @mandy-chessell
open-metadata-implementation/governance-servers/data-engine-proxy-services/ @cmgrote
open-metadata-implementation/adapters/open-connectors/configuration-store-connectors/configuration-encrypted-file-store-connector/ @cmgrote
open-metadata-implementation/adapters/governance-engines-plugins/ @planetf1
open-metadata-implementation/adapters/authentication-plugins/gaian-impersonation/ @planetf1

open-metadata-implementation/frameworks/ @mandy-chessell

open-metadata-implementation/governance-servers/ @mandy-chessell

open-metadata-implementation/access-services/ @mandy-chessell
open-metadata-implementation/access-services/asset-consumer/ @mandy-chessell
open-metadata-implementation/access-services/asset-owner/ @mandy-chessell
open-metadata-implementation/access-services/community-profile/ @mandy-chessell
open-metadata-implementation/access-services/data-engine/ @popa-raluca
open-metadata-implementation/access-services/digital-architecture/ @mandy-chessell
open-metadata-implementation/access-services/enterprise-architecture/ @mandy-chessell
open-metadata-implementation/access-services/glossary-view/ @lcpopa
open-metadata-implementation/access-services/information-view/ @ruxandraRosu
open-metadata-implementation/access-services/stewardship-action/ @mandy-chessell
open-metadata-implementation/access-services/security-officer/ @danielaotelea
open-metadata-implementation/access-services/governance-program/ @mandy-chessell
open-metadata-implementation/access-services/governance-engine/ @danielaotelea
open-metadata-implementation/access-services/subject-area/ @davidradl
open-metadata-implementation/access-services/asset-lineage/ @DimitriosMaimaris
open-metadata-implementation/governance-servers/open-lineage-services/ @DimitriosMaimaris @lcpopa
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/ @DimitriosMaimaris
open-metadata-implementation/adapters/open-connectors/governance-daemon-connectors/open-lineage-connectors/open-lineage-janus-connector/src/main/java/org/odpi/openmetadata/openconnectors/governancedaemonconnectors/openlineageconnectors/janusconnector/maingraph/ @GuyAckermans @lcpopa

open-metadata-implementation/repository-services/ @mandy-chessell


# Publication

open-metadata-publication/ @mandy-chessell

# Resources

open-metadata-resources/ @mandy-chessell
open-metadata-resources/open-metadata-deployment/ @planetf1
open-metadata-resources/open-metadata-deployment/sample-data/ @cmgrote
open-metadata-resources/open-metadata-tutorials/ @mandy-chessell

open-metadata-resources/open-metadata-samples/ @mandy-chessell
open-metadata-resources/open-metadata-samples/postman-rest-samples/ @planetf1
open-metadata-resources/open-metadata-samples/access-services-samples/subject-area-client-samples/  @davidradl

open-metadata-resources/open-metadata-labs/ @mandy-chessell @planetf1
# Test

open-metadata-test/ @mandy-chessell
open-metadata-test/open-metadata-fvt/ @planetf1 @mandy-chessell
open-metadata-test/open-metadata-fvt/access-services-fvt/ @planetf1 @davidradl
open-metadata-test/open-metadata-fvt/open-types-fvt/ @planetf1 @davidradl

# release notes
release-notes/ @mandy-chessell @planetf1

# POMs
pom.xml @planetf1 @mandy-chessell

# Tools / CICD etc
.azure-pipelines/ @planetf1
.dependabot/ @planetf1
.github/ @planetf1
.m2/ @planetf1
.gitignore @planetf1
.sonarcloud* @planetf1
Community-Guide.md @mandy-chessell @planetf1
INFO.yaml @planetf1
THIRD_PARTY.md @mandy-chessell @planetf1
spotbugs* @planetf1
CODEOWNERS @mandy-chessell @planetf1

ignore .m2/repository
  .gitignore
Owners: @planetf1

ignore ? generated dir
  .gitignore
Owners: @planetf1

ignore ? generated dir from rat
  pom.xml
Owners: @planetf1, @mandy-chessell

ignore ? generated dir from rat
  .azure-pipelines/test/tutorials/cd-pipeline.yml
  .sonarcloud.properties
  pom.xml
Owners: @planetf1, @mandy-chessell

docker build related caches
  .cache/.m2/settings.xml
  .gitignore
  pom.xml
Owners: @planetf1, @mandy-chessell

docker build related caches
  .cache/.m2/settings.xml
Owners: @planetf1

maven settings to use ria nexus maven-public as central mirror
  .cache/.m2/settings.xml
Owners: @planetf1

maven settings to use ria nexus maven-public as central mirror
  .cache/.m2/settings.xml
Owners: @planetf1

publish to ria nexus
  pom.xml
Owners: @planetf1, @mandy-chessell

publish to ria nexus
  pom.xml
Owners: @planetf1, @mandy-chessell

allow docker resource prep without docker build in maven
  open-metadata-resources/open-metadata-deployment/docker/egeria/pom.xml
  open-metadata-resources/open-metadata-deployment/docker/pom.xml
Owners: @planetf1, @mandy-chessell

fix assetowner client asset meaning post url
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetOwner.java
Owners: @mandy-chessell

schema management fixes after base update
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/properties/ReferenceableProperties.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/properties/SchemaAttributeProperties.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-api/src/main/java/org/odpi/openmetadata/accessservices/assetowner/properties/SchemaTypeProperties.java
  open-metadata-implementation/common-services/multi-tenant/src/main/java/org/odpi/openmetadata/commonservices/multitenant/OCFOMASServiceInstance.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-api/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/rest/AssetResponse.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-client/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/client/ConnectedAssetSchemaAttributes.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/AssetConverter.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/ReferenceableConverter.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/converters/SchemaAttributeConverter.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/handlers/AssetHandler.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/handlers/MeaningHandler.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/handlers/SchemaTypeHandler.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-server/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/server/OCFMetadataRESTServices.java
  open-metadata-implementation/common-services/repository-handler/src/main/java/org/odpi/openmetadata/commonservices/repositoryhandler/RepositoryHandler.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetComplexSchemaType.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetSchemaAttribute.java
  open-metadata-implementation/frameworks/open-connector-framework/src/main/java/org/odpi/openmetadata/frameworks/connectors/properties/AssetUniverse.java
Owners: @mandy-chessell

enable updating asset additional properties in egeria via rest API-s
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetOwner.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-server/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/AssetOwnerRESTServices.java
  open-metadata-implementation/access-services/asset-owner/asset-owner-spring/src/main/java/org/odpi/openmetadata/accessservices/assetowner/server/spring/AssetOwnerResource.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/handlers/AssetHandler.java
Owners: @mandy-chessell

fix subject area graph node property mapping + add support for SchemaAttribute nodes
  open-metadata-implementation/access-services/subject-area/subject-area-api/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/properties/objects/graph/NodeType.java
  open-metadata-implementation/access-services/subject-area/subject-area-server/src/main/java/org/odpi/openmetadata/accessservices/subjectarea/handlers/SubjectAreaGraphHandler.java
Owners: @davidradl

fix schema attribute meaning deletion
  open-metadata-implementation/access-services/asset-owner/asset-owner-client/src/main/java/org/odpi/openmetadata/accessservices/assetowner/client/AssetOwner.java
  open-metadata-implementation/common-services/ocf-metadata-management/ocf-metadata-handlers/src/main/java/org/odpi/openmetadata/commonservices/ocf/metadatamanagement/handlers/AssetHandler.java
Owners: @mandy-chessell
